#nav {font: bold 12px/25px arial, sans-serif;}
#nav ul {display:none;}
#nav, #nav ul {padding:0; margin:0; list-style:none; width:150px;}
#nav ul {padding-left:20px; background: url("../img/menutree/dots.png") repeat-y left top;}
#nav li a {color:#000; text-indent:0; text-decoration:none; display:block; width:100%;}
#nav li {line-height:25px; cursor:pointer; width:100%;}
#nav li a:hover {color:#09c;}
#nav li.has_ul {text-indent:20px; color:#000; background:url("../img/folder2.png") no-repeat left 3px;}
#nav li.has_ul:hover {color:#690;}
#nav li.clicked {color:#690; background:url("../img/folder2-open.png") no-repeat left 3px;}