body {
        margin:0px;
}
/* .container-up, .container-left,.container-right,.container-center,.container-down, .header, footer */
/*theme*/
* {
        border-radius: 4px;
}

.dashboard > li.selected{
        font-style: italic;
}

header {
        vertical-align: bottom;
        width: 100%;
        height: 40px;
        background-color: #f3f3f3;
        z-index: 1;
        position: fixed;
        top: 0px;
}

.button {
  display: block;
  width: 98%;
  height: 98%;
  background: #c7bebe;
  background.image: linear-gradient(top,#c7bebe,#f3f3f3);
  background-image: -webkit-linear-gradient(top,#c7bebe,#f3f3f3);
  background-image: -moz-linear-gradient(top,#c7bebe,#f3f3f3);
/*   margin: 10px; */
  padding: 8px 0px 8px 0px;
  text-align: center;
  border-radius: 5px;
  color: rgb(57, 142, 209); 
  font-weight: bold;
}
a.button{
         text-decoration: none;
}

ul.dashboard{
        position: relative;
        width: 100%;
        height: auto;
        list-style: none;
        padding: 3px 0px 22px 0px;
        margin:        0px;
}
.dashboard>li{
        position: relative;
        float: left;
}

.links-user {
        float: right;
        position: relative;
        list-style: none;
        margin: 6px 0px 0px 0px;
}

.links-user>li {
        position: relative;
        float: left;
        margin-left: 10px;
}

.header {
        position: absolute;
        vertical-align: bottom;
        width: 70%;
        left: 15%;
        right: 15%;
        height: auto;

        /*         background-color: #f3f3f3; */
        /*         z-index: 1; */
}

.personalizzation-header {
        background: url("../img/images.png") -79px 0px;
        width: 20px;
        height: 33px;
        position: relative;
        margin: 2px 0px 0px 0px;
        float: left;
}

.header-logo {
        background: url("../img/images.png") 0px 0px;
        width: 35px;
        height: 33px;
        position: relative;
        margin: 3px 0px 0px 0px;
        float: left;
}

.logout-header {
        background: url("../img/images.png") -50px 0px;
        width: 23px;
        height: 26px;
}

.container {
        position:relative;
        width: 70%;
        height: auto;
        margin: 70px 15% 10px 15%;
        box-shadow: 0px 0px 20px 20px #d3d3d3;
        background-color: #d3d3d3;
}

.container-up {
        background-color: #d3d3d3;
        position: relative;
        width: 100%;
        height: auto;
        float: left;
        margin: 2px;
        padding-bottom: 10px;
        box-shadow: 0px 0px 0px 4px #d3d3d3;
}

.container-down {
        background-color: blue;
        position: relative;
        width: 100%;
        height: auto;
        float: left;
/*         margin: 2px; */
}

.container-left {
        color: #800000;
        position: relative;
        background-color: transparent;
        /*border: 2px inset;
        border-color: black;*/
        position: relative;
        width: 14%;
        height: auto;
        float: left;
/*         margin: 2px; */
}

.container-right {
        background-color: green;
        position: relative;
        width: 14%;
        height: auto;
        float: right;
/*         margin: 2px; */
}

.container-center {
        background-color: transparent;
        width: 71%;
        position: relative;
        height: auto;
        float: left;
        margin: 2px;
}
/* .header-hide{ */
/* position: absolute; */
/* top: 0px; */
/* height: 40px; */
/* background-color: transparent; */
/* z-index: 0;         */
/* } */



.image20 {
        width: 20px;
        height: 20px;
}

.image30 {
        width: 30px;
        height: 30px;
}

.image60 {
        width: 60px;
        height: 60px;
}

.image120 {
        width: 120px;
        height: 120px;
}

.image360 {
        width: 360px;
        height: 360px;
}

footer {
        display: block;
        width: 80%;
        right: 10%;
        left: 10%;
        position: relative;
        height: 20px;
        background-color: #f3f3f3;
        z-index: 1;
        margin: 20px 0px 10px 0px;
}