<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
<!-- 		<property name="connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!-- 		<property name="connection.url">jdbc:mysql://localhost:3306/uem</property> -->
<!-- 		<property name="connection.username">root</property> -->
<!-- 		<property name="connection.password">admin</property> -->
<!-- 		<property name="connection.pool_size">1</property> -->
<!-- 		<property name="dialect">org.hibernate.dialect.MySQLDialect</property> -->
<!-- 		<property name="current_session_context_class">thread</property> -->
<!-- 		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
<!-- 		<property name="show_sql">true</property> -->
<!-- 		<property name="hbm2ddl.auto">update</property> -->
<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:file:/home/luigi/DB/my</property>
<!-- 		<property name="connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!-- 		<property name="connection.url">jdbc:mysql://192.168.1.192:3306/uem</property> -->
		<property name="connection.username">1</property>
		<property name="connection.password">q</property>
		<property name="connection.pool_size">1</property>
<!-- 		<property name="dialect">org.hibernate.dialect.MySQLDialect</property> -->
<!-- 		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property> -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
	</session-factory>
</hibernate-configuration>